<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>RTK_DATA_DIR</key>
		<string>__DATA_DIR__</string>
	</dict>
	<key>Label</key>
	<string>__LABEL_PREFIX__.rtk-daily</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>__SCRIPT_DIR__/rtk-export.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>__DATA_DIR__/logs/launchd-rtk-daily.err</string>
	<key>StandardOutPath</key>
	<string>__DATA_DIR__/logs/launchd-rtk-daily.out</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>4</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>__DATA_DIR__</string>
</dict>
</plist>
